* {
  font-family: "sora", "sans-serif";
  user-select: none;
}

body {
  background-color: black;
}

header {
  position: relative;
  top: 150px;
  text-align: center;
  color: #fff;
}

h1 {
  animation: text-animation 2s forwards ease;
  font-size: 56px;
}

p {
  font-size: 20px;
  opacity: 0;
  transition: 1s ease 2s;
  opacity: 1;
}

header img {
  width: 150px;
  filter: drop-shadow(0px 0px 2px #fff);
}

@keyframes text-animation {
  0% {
    color: transparent;
    text-shadow: 0 0 50px #fff;
  }
  25% {
    color: rgba(255, 255, 255, 0);
  }
  75% {
    text-shadow: 0 0 15px #fff;
  }
  100% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px #fff;
  }
}
